{% extends 'blog/base_blog.html' %}
{% load static %}
{% load blog_filter %}
{% block title %}博客首页{% endblock %}

{#{% block css %}#}
{#    <link href="{% static 'blog/style.css' %}" rel="stylesheet">#}
{#{% endblock %}#}

{% block content %}
{#    {% for i in lis %}#}
{##}
{#        <table style="background-color: {% cycle 'red' 'green' 'blue' 'orange' %}">#}
{##}
{#            <tr>#}
{#                <td>{{ forloop.counter0 }}</td>#}
{##}
{#                {% if forloop.first %}#}
{#                    <td style="font-size: large">{{ i }}</td>#}
{#                {% else %}#}
{#                    <td>{{ i }}</td>#}
{#                {% endif %}#}
{#            </tr>#}
{#        </table>#}
{#        <br>#}
{##}
{#    {% endfor %}#}

    {{ 'helloworld'|my_cut:'o'}}
    <br />

    {% plus 1 2 3 4 5 %}

{% endblock %}
{# 关闭自动转义#}


